/* 
Fuentes:
font-family: 'Questrial', sans-serif;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Ysabeau Office', sans-serif; 

Colores:
Fucsia: #FF5BDE (el color en las historias y el letrero "Girls Places" del local)
Gris: #90A6BB (apróx., basado en el frente del local)
Rosa: #DD929C (apróx., basado en el interior del local)
Blanco (junto al gris y el rosa que predominan en el local)
Negro (hay cartelería en negro, en vidriera, no es predominante)
*/

:root{
    --fucsia: #FF5BDE;
    /* --gris: #90A6BB; */
    --gris:#8F838F;
    --rosa: #DD929C;
    --fuente_texto: 'Questrial', sans-serif;
    --fuente_titulos: 'Ysabeau Office', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente_texto);
}

.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: '. h h h h .'
                         '. h h h h .'
                         'm m m m m m'
                         'm m m m m m'
                         'm m m m m m'
                         'm m m m m m'
                         'm m m m m m'
                         'm m m m m m'
                         'm m m m m m'
                         'm m m m m m'
                         'm m m m m m'
                         'f f f f f f';
    width: 100%;
    padding: 2%;
}

.header{
    grid-area: h;
    border-bottom-width: 1%;
    border-bottom-color: var(--fucsia);
    border-bottom-style: solid;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.2fr;
    justify-items: center;
}

.menu{
    grid-area: menu;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-items: center;
}

.menu li{
    list-style: none;
}

.menu li a{
    font-family: var(--fuente_titulos); 
    font-weight: 700;
    font-size: 120%;
    color: var(--fucsia);
    text-decoration: none;
}

.menu li a:visited{
    color: var(--fucsia);
}

.menu li a:hover{
    text-shadow: 0px 5px 10px var(--fucsia), 0px -5px 10px var(--fucsia);
    border-radius: 5%;
}

.footer{
    grid-area: f;
    border-top-width: 1%;
    border-top-color: var(--fucsia);
    border-top-style: solid;
    text-align: center;
}


/* ================================= INICIO =================================*/
.inicio{
    grid-area: m;
    margin-top: 4%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 1%;
    grid-template-areas: 'slide slide slide slide slide slide'
                         'slide slide slide slide slide slide'
                         'slide slide slide slide slide slide'
                         'intro intro intro intro intro intro'
                         'intro intro intro intro intro intro'
                         'intro intro intro intro intro intro'
                         'intro intro intro intro intro intro'
                         'intro intro intro intro intro intro'
                         'test test test test test test'
                         'test test test test test test'
                         'test test test test test test'
                         'test test test test test test';
}

.slides{
    grid-area: slide;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide{
    box-shadow: 5px 5px 10px var(--gris);
    max-width: 95%;
    height: auto;
    max-height: 200px;
}


.introduccion{
    background-color: var(--fucsia);
    opacity: 0.9;
    margin-left: -10%;
    margin-right: -10%;
    /* margin-top: 5%; */
    margin-bottom: 5%;
    color: white;
    font-size: large;
    grid-area: intro;
    display: flex;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
}

.introduccion p{
    max-width: 1000px;
}

.introduccion img{
    align-self: end;
}

.testimonio_area{
    display: grid;
    grid-area: test;
    max-width: 1000px;
    justify-self: center;

    grid-template-columns: 20% 80%;
}

.testimonios{
    /* grid-area: test; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-self: center;
}

.testimonio{
    margin: 5%;
    padding: 5%;
    font-size: small;
    max-width: 300px;
}

.testimonio span{
    display: block;
    text-align: center;
    margin-bottom: 3%;
}

.testimonio p{
    margin-top: 3%;
    text-align: left;
    color: var(--fucsia);
}

@media all and (max-width: 450px) {
    .introduccion img{
        display: none;
    }
    .testimonio_area{
        grid-template-columns: 100%;
    }
    .testimonio_area img{
        display: none;
    }
}


/* ================================= PRODUCTOS ================================= */

.filtros{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 50%;
}

.filtros form{
 background-color: var(--gris);
 opacity: 6;
 padding: 2%;
}

.btnFiltrar{
    border-style: none;
    color: white;
    font-weight: 700;
    background-color: var(--fucsia);
    padding: 2%;
    font-family: var(--fuente_titulos);
    cursor: pointer;
}

.filtros form div{
    margin: 2%;
}

.filtroTexto{
    display: flex;
    gap: 1%;    
}

.filtroTexto input[type='text']{
    border-style: none;
    border-radius: 2px;
    width: 90%;
    color: var(--gris);
}

.filtroTexto button{
    padding: 5px;
    border-radius: 2px;
    /* background-color: var(--gris); */
    /* color: white; */
    /* border-color: white; */
    border-style: none;
    /* border-width: 5px; */
}

.filtroColor, .filtroTalle, .filtroCategoria{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
}

.filtroColor input[type="radio"], .filtroTalle input[type="radio"], .filtroCategoria input[type="radio"]{
    display: none;
}

.labelColor{
    width: 40px;
    height: 40px;
    list-style: none; 
    border-radius: 5px;
    cursor: pointer;
}

.labelColorTodos{
    border-width: 1px;
    border-style: solid;
}

.labelColor:hover, .labelTalle:hover, .labelCategoria:hover, .filtroActivo{
    box-shadow: 0px 5px 10px var(--fucsia), 0px -5px 10px var(--fucsia);
} 

.labelTalle, .labelCategoria{
    background-color: var(--fucsia);
    opacity: 0.5;
    border-radius: 5px;
    padding: 5px;
    margin: 0.5%;
    font-size: small;
    cursor: pointer;
}

.labelTalle:hover, .labelCategoria:hover, .filtroActivo{
    opacity: 1;
    color: white;
}


.productos{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    gap: 2%;
    padding-bottom: 5%;
    padding-top: 5%;
    justify-content: center;
}

.producto{
    width: 45%;
    max-width: 200px;
    text-align: center;
    margin-top: 2%;
    padding: 2%;
    box-shadow: 5px 5px 10px var(--gris);
    position: relative;
}

.producto img{
    width: 75%;
    height: auto;
    border-radius: 10px;
}

.producto p{
    color: var(--gris);
    line-height: 150%;
}

.paginacion{
    color: var(--fucsia);
    text-align: center; 
    margin: 2%;
}

.paginacion a{
    margin: 5%;
    cursor: pointer;
}

.detalleProducto{
    display: grid;
    grid-column: repeat(5, 1fr);
    grid-row: 5% 5% 80% 10%;
    grid-template-areas: 'cat cat cat cat cat'
                         'art art art art art'
                         'img img desc desc desc'
                         'but but but but but';
    position: fixed;
    row-gap: 2%;
    column-gap: 1%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-color: var(--fucsia);
    border-style: solid;
    border-radius: 5px;
    width: 90%;
    /* max-height: 80%; */
    max-width: 700px;
    overflow-y: auto;
    scrollbar-width: 50px;
    padding: 2%;
    z-index: 11;
}

.detalleProducto img{
    grid-area: img;
    width: auto;
    max-height: 400px;
    border-radius: 10px;
}

.dcat{
    grid-area: cat;
}

.dprod{
    grid-area: art;
}

.dimg{
    grid-area: img;
    justify-self: center;
}

.dtext{
    grid-area: desc;
}

.dbutton{
    grid-area: but;
    /* max-width: 20%; */
    justify-self: center;
    background-color: var(--fucsia);
    color: white;
    padding: 5px;
    border-radius: 5px;   
}

.detalleProductoVisible{
    overflow: hidden;
}

.bloqueadorFondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

@media all and (max-width: 599px) {
    .detalleProducto{
        grid-row: 5% 5% 55% 30% 5%;
        grid-template-areas: 'cat cat cat cat cat'
                             'art art art art art'
                            'img img img img img'
                            'desc desc desc desc desc'
                            '. . but . .';
    }    

}

@media all and (min-width: 1000px){ 
    .productosApp{
        max-width: 1000px;
        margin: auto;
    }
    
}
